<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- spring-mvc只扫描@controller的POJO, 排除其他注解，避免重复扫描导致事物失效 -->
    <!-- use-default-filters="false" 目的在于使默认filter失效，也就是使默认要扫描的注解失效，比如@service -->
    <context:component-scan base-package="com.qatang.cms.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven />

    <!-- web.xml使用/拦截所有url，使用tomcat默认servlet来处理静态资源 -->
    <mvc:default-servlet-handler />

    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/font/**" location="/font/" />
    <mvc:resources mapping="/css/**" location="/css/" />

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/font/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/signin"/>
            <mvc:exclude-mapping path="/signup"/>
            <bean class="com.qatang.cms.interceptor.UserSessionInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/" p:suffix=".jsp">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>

</beans>
